.DS_Store
.classpath
.project
.txt
.classpath
.project
.txt
.classpath
.project
.txt
.classpath
.project
.txt
.classpath
.project
.txt
.classpath
.project
.txt
.classpath
.project
.txt
.classpath
.project
.txt

